.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width:87%;
}

.logo-image{
   max-width: 55%;
}

.header-logo{
    display: flex;
    flex: 2;
}
.header-links{
    display: flex;
    justify-content: center;
    flex: 2;
}

.header-links ul li {
    list-style:none;
    display: inline-block;
    font-size:18px;
}

.header-links ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding: 0 15px;
}

.header-links ul li a:hover {
    color: red;
}