.header{
    position:sticky;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    width:80%;
    min-height: 80px;
    top:0;
    overflow: hidden;

}

.logo{
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(214, 209, 209);
}

.header-links{
    display: flex;
}

.header-links ul li {
    list-style:none;
    display: inline-block;
    font-size:18px;
}

.header-links ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding: 0 15px;
}

.header-links ul li a:hover {
    color: red;
}