.products{
    margin:0 auto;
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 5px;
    top: 42.0px;
    position: relative;
}

.card{
    width:40%;
    min-width: 300px;
    max-width: 350px;
    height: fit-content;
    min-height: 420px;
    border-radius: 5px;
    overflow: hidden;
    padding: 10px;
    margin:20px 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 3px 10px 15px;
}
.product-image{
    width:80%;
    max-width: 300px;
    min-height: 220px;
    max-height: 255px;
    display: block;
    object-fit: cover;
    margin: 0 auto;
}

.product-name{
    margin: 10px 0;
    color:rgb(202, 196, 196);
    line-height: 30px;

}

.product-price{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:18px;
    line-height: 20px;
    color:rgb(202, 196, 196);
}

.product-add-button {
    font-weight: bolder;
    font-size:18px;
    border-radius:5px;
    border: none;
    outline:none;
    background-color:  rgba(245, 199, 26, 0.6);
    color: rgb(17, 15, 15);
    width: 69%;
    height: 45px;
    display: block;
    cursor: pointer;
    text-transform: uppercase;
    margin: 15px auto;
}


.product-add-button:hover {
    background-color: rgba(245, 199, 26, 1);
    cursor: pointer;
}

.product-add-button:active{
    transform: translateY(2px);
}