


.shopImageContainer{
    background-image: url(/public/assets/shop_header.jpg);
    background-position: top;
    background-repeat: no-repeat;
    height: 40vh;
    background-size: cover;
    position: relative;
}
