.navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    width:100%;
    padding: 15px 0;
}

.logo-image{
   max-width: 55%;
}

.navigation-logo{
    display: flex;
    flex: 2;
    justify-content: flex-start;

}
.navigation-links{
    display: flex;
    justify-content: end;
    flex: 2;
}

.navigation-links ul li {
    list-style:none;
    display: inline-block;
    font-size:18px;
}

.navigation-links ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(202, 196, 196);
    padding: 0 15px;
}

.navigation-links ul li a:hover {
    color: rgba(245, 199, 26, 1);
}