body{
    background-color: #211f20;
}
.App{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
}
.coming_soon{
    position: relative;
    top:-15%;
}

.coming_soon_logo{
    max-width: 300px;
}

.coming_soon_button{
    border:1px solid rgba(245, 199, 26, 0.7);
    background-color: transparent;
    
}